.messages {
  composes: scrollable item flex-1 from global;
  contain: strict;
  
  overflow-y: auto;

  /* overscroll-behavior: contain;
  scroll-snap-type: y proximity; */
}

/* .messages > article:last-child {
  scroll-snap-align: start;
  scroll-margin-block-end: 5rem;
} */

.navbar {
  composes: flex from global;
}

.search {
  composes: button flex flex-center from global;
  contain: strict;
  aspect-ratio: 1 / 1;
  height: 100%;
  opacity: 0.5;
  margin-left: auto;
}