html,
body {
  height: 100%;
}

html {
  background-color: var(--background-bottom);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

.button {
  padding: 0.25rem;

  color: currentColor;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:active,
.button:hover,
a[role='button']:active,
a[role='button']:focus-within,
a[role='button']:hover {
  color: #8888cc;
}

.button:focus-visible,
a[role='button']:focus-visible {
  outline: thin dashed;
}

img {
  aspect-ratio: attr(width) / attr(height);
}

textarea,
input {
  color: rgb(var(--color-white));
  background-color: transparent;
  border: transparent 1px;
  outline: none;

  border-bottom: var(--inactive) solid 1px;
}

textarea:hover,
textarea:focus,
input:hover,
input:focus {
  border-color: rgb(var(--primary-color));
}

/* scrollbar */

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background-color);
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.scrollable {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);
  scrollbar-width: thin;
}

/* utility classes */

.item {
  min-height: 1.5rem;
  padding: 0.5rem;
  contain: content;
  content-visibility: auto;
}

.item-y {
  min-height: 1.5rem;
  padding: 0.5rem 0;
  contain: content;
  content-visibility: auto;
}

.tag {
  display: inline;
  box-sizing: border-box;

  min-width: 2rem;
  /* height: 1rem; */
  padding: 0.125rem 0.25rem;
  margin-top: auto;
  /* margin-bottom: auto; */

  vertical-align: middle;

  background: #334;

  border: 1px solid #5e5c60;
  border-radius: 0.25rem;

  font-size: 0.625rem;
}

.icon {
  border-radius: 100%;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  contain: strict;
}
